<!-- 
   <div class="datetime-container">
    <div>
      <label for="date">Select Date:</label>
      <input type="date" id="date">
    </div>

    <div>
      <label for="time">Select Time:</label>
      <input type="time" id="time">
    </div>

    <button onclick="showDateTime()">Get DateTime</button>

    <div class="output" id="output">Your selection will appear here</div>
  </div>
   -->

<div class="datetime-container">
  <div>
    <label for="date">Select Date:</label>
    <input type="date" id="date" [(ngModel)]="selectedDate" />
  </div>

  <div>
    <label for="time">Select Time:</label>
    <input type="time" id="time" [(ngModel)]="selectedTime" />
  </div>
  <label for="">{{ dateTime }}</label>
  <button (click)="getDateTime()">Get DateTime</button>
</div>
