<app-page-container>
  <app-page-content>
    <app-grid>
      <div class="app-width-1-1 app-width-md-1-4 app-width-lg-1-4">
        <app-card-container>
          <app-card-content>
            <span class="badge bg-primary">(380)</span>
            Online User
          </app-card-content>
        </app-card-container>
      </div>
      <div class="app-width-1-1 app-width-md-1-4 app-width-lg-1-4">
        <app-card-container>
          <app-card-content>
            <span class="badge bg-secondary">(380)</span>
            Messages
          </app-card-content>
        </app-card-container>
      </div>
      <div class="app-width-1-1 app-width-md-1-4 app-width-lg-1-4">
        <app-card-container>
          <app-card-content>
            <span class="badge bg-danger">(380)</span>
            Appointments
          </app-card-content>
        </app-card-container>
      </div>
      <div class="app-width-1-1 app-width-md-1-4 app-width-lg-1-4">
        <app-card-container>
          <app-card-content>
            <span class="badge bg-info">(380)</span>
            Emails
          </app-card-content>
        </app-card-container>
      </div>
    </app-grid>
  </app-page-content>
  <app-page-content>
    <app-grid>
      <div class="app-width-1-1 app-width-md-1-2 app-width-lg-1-3">
        <app-card-container>
          <app-card-header> User Logins </app-card-header>
          <app-card-content> Information </app-card-content>
          <app-card-footer>
            <button class="btn btn-danger">Click</button>
          </app-card-footer>
        </app-card-container>
      </div>
      <div class="app-width-1-1 app-width-md-1-2 app-width-lg-1-3">
        <app-card-container>
          <app-card-header> History </app-card-header>
          <app-card-content> Information </app-card-content>
          <app-card-footer>
            <button class="btn btn-danger">Click</button>
          </app-card-footer>
        </app-card-container>
      </div>
      <div class="app-width-1-1 app-width-md-1-2 app-width-lg-1-3">
        <app-card-container>
          <app-card-header> Actions </app-card-header>
          <app-card-content> Information </app-card-content>
          <app-card-footer>
            <button class="btn btn-danger">Click</button>
          </app-card-footer>
        </app-card-container>
      </div>
    </app-grid>
  </app-page-content>
</app-page-container>
