<div class="app-grid">
  <div class="app-width-1-1">
    <!-- Pass email down to child -->
    <app-child [model]="email" (submitEmail)="onEmailSubmit($event)"></app-child>
  </div>

  <div class="app-width-1-2">
    <div class="app-grid">
      <div class="app-width-1-1">
        <div class="app-form-control">
          <input
            type="text"
            id="username"
            class="app-input"
            placeholder=" "
            [(ngModel)]="email.username"
          />
          <label for="username" class="app-label">Username</label>
          <em class="app-hint">{{ email.username }}</em>
        </div>
      </div>

      <div class="app-width-1-1">
        <div class="app-form-control">
          <input
            type="password"
            id="password"
            class="app-input"
            placeholder=" "
            [(ngModel)]="email.password"
          />
          <label for="password" class="app-label">Password</label>
          <em class="app-hint">{{ email.password }}</em>
        </div>
      </div>

      <div class="app-width-1-1">
        <div class="app-form-control">
          <textarea rows="10" [(ngModel)]="email.message" class="app-input" id="message"></textarea>
          <label for="message" class="app-label">Message</label>
          <em class="app-hint">{{ email.message }}</em>
        </div>
      </div>

      <div class="app-width-1-1">
        <div class="app-form-control">
          <input type="number" id="age" class="app-input" placeholder=" " [(ngModel)]="email.age" />
          <label for="age" class="app-label">Age</label>
          <em class="app-hint">{{ email.age }}</em>
        </div>
      </div>

      <button class="app-btn app-btn-primary" (click)="onEmailSubmit(email)">Send Email</button>
    </div>
  </div>

  <div class="app-width-1-2">
    <ul class="app-list">
      @for (item of emails; track $index) {
      <li class="app-list-item">
        <span>
          {{ $index + 1 }} : {{ item.password }} => {{ item.username }} : {{ item.age }} (
          {{ item.message }} )
        </span>
        <button (click)="onUpdate(item)" class="app-btn app-btn-warning">Edit</button>
        <button (click)="onRemove(item)" class="app-btn app-btn-danger">Remove</button>
      </li>
      }
    </ul>
  </div>
</div>
