.sidebar {
  width: 240px;
  transition: width 0.3s ease;
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.nav-link:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
