<nav class="sidebar bg-dark text-white vh-100 p-3">
  <h5 class="text-uppercase mb-4 text-center">Tajerbashi</h5>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-speedometer2 me-2"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/users" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-people me-2"></i> Users
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/settings" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-gear me-2"></i> Settings
      </a>
    </li>
  </ul>
</nav>
