.tk-card-container {
  border: 1px solid rgb(82, 82, 82);
  padding: 10px;
  border-radius: 5px;
  display: block;
}
.tk-card-content {
  border: 1px solid rgb(82, 82, 82);
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
}
