<div class="app-grid">
  <div class="app-width-1-1">
    <ng-persian-datepicker class="datetime-picker" [formGroup]="timeForm">
      <!-- Date field -->
      <div class="datetime-picker__date">
        <input
          class="datetime-input"
          type="text"
          formControlName="date"
          placeholder="تاریخ"
        />
      </div>

      <!-- Time selectors -->
      <div class="datetime-picker__time">
        <select formControlName="hour">
          @for (item of hours; track $index) {
            <option [value]="item">{{ item }}</option>
          }
        </select>
        :
        <select formControlName="minute">
          @for (item of minutes; track $index) {
            <option [value]="item">{{ item }}</option>
          }
        </select>
      </div>

      <!-- Display -->
      <div class="datetime-picker__display">{{ displayValue1 }}</div>
    </ng-persian-datepicker>

    <button class="app-btn app-btn-primary" (click)="showDates()">Print</button>
  </div>
</div>
